html, body {
  margin: 0;
  height: 100%;
  background: black;
}

canvas, .overlay, input {
  position: absolute;
}

canvas {
  z-index: 1;
}

.hidden {
  display: none;
}

.overlay {
  z-index: 10;
}

#gui {
  right: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
