/*Globals*/
/*Modules*/
/*Components*/

$layer1: 1;
$layer2: 2;
$layer9: 9;
$layer10: 10;
html,
body {
    margin: 0;
    height: 100%;
    background: black;
}

canvas,
.overlay,
input {
    position: absolute;
}

canvas {
    z-index: $layer1;
}

.hidden {
    display: none;
}

.overlay {
    z-index: $layer10;
}

#gui {
    right: 0;
    position: fixed;
    top: 0;
    z-index: $layer10;
}
